<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F001</title>
    <link rel=" stylesheet" href="../static/css/F001.css" type="text/css">
</head>
<body>
<table class='head'>
    <tr>
        <td id='logo'>
        </td>
        </th>
        <th class="head_font_color" id='head_jxsb'>
            奖项申报
        </th>
        <th class="head_font_color" id='head_xtgl'>
            系统管理
        </th>
        <th class="head_font_color" id='head_grzx'>
            个人中心
        </th>
        <th class="head_font_color" id='head_person'>
            <image src="../static/img/person.jpg" id='person_pic'>
                298503
            </image>
        </th>

    </tr>
</table>
</br>

<div class='daohang_div'>
    <ul class="daohang_ul">组织管理</ul>
    <ul class="daohang_ul">奖项信息</ul>
</div>
<!--上右下左-->
<div style="margin: 0% 5% 0 0 ;float: left">
    <p style="color: #4eb3df">
        系统管理>单位管理
    </p>
    <hr>


    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button type="button" class='head_button'>新增</button>
    </th>
    </tr>
    <br>
    <br>
    <table id="body_table">
        <tr>
            <th>
                所属组织
            </th>
            <th>
                项目级别
            </th>
            <th>
                申报奖项
            </th>
            <th>
                状态
            </th>
            <th>
                开始时间
            </th>
            <th>
                申报时间
            </th>


        </tr>
        <tr>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>

        </tr>
        <tr class='alt'>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>

        </tr>
        <tr>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>

        </tr>
        <tr class='alt'>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
        </tr>
        <tr class=>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
        </tr>
    </table>
    <table style="float: right ;margin: 0% 5% 0 0">
        <br>
        <tr>

            <th style="text-align: right ;color: #34a9db ">
                &nbsp&nbsp&nbsp上一页 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </th>
            <th style="text-align: right ;color: #34a9db ;margin: 0% 10% 0 0">
                下一页
            </th>
        </tr>

    </table>
</div>
<div style="float: left">
    <form action="" method=post name = form>
        <p>所属组织:</p>
        <input type="text" style="height: 20px;width: 300px">
        <p>负责人员</p>
        <input type="text" style="height: 20px;width: 300px">
        <p>可申报人员</p>
        <textarea style="height: 200px;width: 300px">
        </textarea>
        <br>
        <br>

        <input type="submit" value="保存" name = "submit" style="float: right;width: 80px;height: 30px;background:#169bd5 ;border-radius: 8px;color: white">
    </form>

</div>
</body>
</html>