<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F002</title>
    <link rel=" stylesheet" href="../static/css/F002.css" type="text/css">
</head>
<body>
<table class='head'>
    <tr>
        <td id='logo'>
        </td>
        </th>
        <th class="head_font_color" id='head_jxsb'>
            奖项申报
        </th>
        <th class="head_font_color" id='head_xtgl'>
            系统管理
        </th>
        <th class="head_font_color" id='head_grzx'>
            个人中心
        </th>
        <th class="head_font_color" id='head_person'>
            <image src="../static/img/person.jpg" id='person_pic'>
                298503
            </image>
        </th>

    </tr>
</table>
</br>

<div class='daohang_div'>
    <ul class="daohang_ul">组织管理</ul>
    <ul class="daohang_ul">奖项信息</ul>
</div>
<!--上右下左-->
<div style="margin: 0% 5% 0 0">
    <p style="color: #4eb3df">
        系统管理>奖项信息
    </p>
    <hr>
    <tr>
        <th>申报奖项：</th>
        <th>
            <input type="text" style="height: 30px">
        </th>
        <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp所属组织：</th>
        <th>
            <input type="text" style="height: 30px">
        </th>
        <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp状态&nbsp&nbsp&nbsp：</th>
        <th>
            <select id='head_select'>
                <option value="a">不限</option>
                <option value="b">bbbb</option>
                <option value="c">cccc</option>
                <option value="d">dddd</option>
            </select>
        </th>
        <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp申请时间：</th>
        <th>
            <input type="text" style="height: 30px">
        </th>
        <th>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <button type="button" class='head_button'>查询</button>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="./F003.html">
            <button type="button" class='head_button'>批量克隆</button>
            </a>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="./F004.html">
                <button type="button" class='head_button'>新增</button>
            </a>

        </th>
    </tr>
    <br>
    <br>
    <table id="body_table">
        <tr>
            <th>
                所属组织
            </th>
            <th>
                项目级别
            </th>
            <th>
                申报奖项
            </th>
            <th>
                状态
            </th>
            <th>
                开始时间
            </th>
            <th>
                申报时间
            </th>
            <th>
                申报人数
            </th>
            <th>
                获奖人数
            </th>
            <th>
                操作
            </th>

        </tr>
        <tr>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
               查看 克隆 编辑 删除
            </td>
        </tr>
        <tr class='alt'>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                查看 克隆 编辑 删除
            </td>
        </tr>
        <tr>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                查看 克隆 编辑 删除
            </td>
        </tr>
        <tr class='alt'>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                查看 克隆 编辑 删除
            </td>
        </tr>
        <tr>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                查看 克隆 编辑 删除
            </td>
        </tr>
    </table>
    <table style="float: right ;margin: 0% 5% 0 0">
        <br>
        <tr>

            <th style="text-align: right;color: #34a9db  ">
                &nbsp&nbsp&nbsp上一页 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </th>
            <th style="text-align: right ;color: #34a9db ;margin: 0% 10% 0 0">
                上一页
            </th>
        </tr>

    </table>
</div>
</body>
</html>