<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F003</title>
    <link rel=" stylesheet" href="../static/css/F003.css" type="text/css">
</head>
<body>
<table class='head'>
    <tr>
        <td id='logo'>
        </td>
        </th>
        <th class="head_font_color" id='head_jxsb'>
            奖项申报
        </th>
        <th class="head_font_color" id='head_xtgl'>
            系统管理
        </th>
        <th class="head_font_color" id='head_grzx'>
            个人中心
        </th>
        <th class="head_font_color" id='head_person'>
            <image src="../static/img/person.jpg" id='person_pic'>
                298503
            </image>
        </th>

    </tr>
</table>
</br>

<div class='daohang_div'>
    <ul class="daohang_ul">组织管理</ul>
    <ul class="daohang_ul">奖项信息</ul>
</div>
<!--上右下左-->
<div style="float: left;margin: 0% 5% 0 0">

    <p style="color: #4eb3df">
        系统管理>奖项详情
    </p>

    <hr>
    <br>

    <div style="width: 1300px">
        <div style="background-color: #f2f2f2;width: 1300px">
            <form action="" method=post name=form>
                <table>
                    <br>

                    <tr>

                        <th>申报奖项：</th>
                        <th>
                            <input type="text" style="height: 20px">
                        </th>
                        <th>
                            &nbsp&nbsp&nbsp替换
                        </th>
                        <th>
                            <input type="text" style="height: 20px">
                        </th>
                    </tr>
                </table>
                <table>
                    <br>
                    <tr>

                        <th>所属组织：</th>

                        <th>
                            <select id='head_select'>
                                <option value="a">不限</option>
                                <option value="b">bbbb</option>
                                <option value="c">cccc</option>
                                <option value="d">dddd</option>
                            </select>
                        </th>
                        <th>支持多选</th>
                    </tr>
                </table>
                <table>
                    <br>
                    <tr>
                        <th>申报时间：</th>

                        <th>
                            <input type="text" style="height: 20px">
                        </th>
                        <th>至</th>
                        <th>
                            <input type="text" style="height: 20px">
                        </th>
                        <th>

                            <input type="submit" id="head_button1" value="预览"
                                   name=submit>
                            <input type="submit" id="head_button2" value="确认"
                                   name=submit>
                        </th>
                    </tr>
                </table>
            </form>
        </div>

        <br>
        <br>


        <table id="body_table">
            <tr>
                <th>
                    所属组织
                </th>
                <th>
                    项目级别
                </th>
                <th>
                    奖项级别
                </th>
                <th>
                    申报奖项
                </th>
                <th>
                    替换后奖项名称
                </th>
                <th>
                    开始时间
                </th>
                <th>
                    申报时间
                </th>
                <th>
                    操作
                </th>

            </tr>
            <tr>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>

                <td>
                    查看 编辑 删除
                </td>
            </tr>
            <tr class='alt'>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>

                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    查看 编辑 删除
                </td>
            </tr>
            <tr>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>

                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    查看 编辑 删除
                </td>
            </tr>
            <tr class='alt'>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>

                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    查看 编辑 删除
                </td>
            </tr>
            <tr>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>

                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    蓝鲸产品中心
                </td>
                <td>
                    查看 编辑 删除
                </td>
            </tr>
        </table>
        <table style="float: right ;margin: 0% 5% 0 0">
            <br>
            <tr style="float: right">
                <th style="text-align: right ;color: #34a9db">
                    共20条
                </th>
                <th style="text-align: right ;color: #34a9db ">
                    &nbsp&nbsp&nbsp上一页 &nbsp&nbsp&nbsp
                </th>
                <th style="text-align: right ;color: #34a9db ">
                    下一页
                </th>
            </tr>

        </table>

    </div>
</div>
</body>
</html>