<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F006</title>
    <link rel=" stylesheet" href="../static/css/F002.css" type="text/css">
</head>
<body>
<table class='head'>
    <tr>
        <td id='logo'>
        </td>
        </th>
        <th class="head_font_color" id='head_jxsb'>
            奖项申报
        </th>
        <th class="head_font_color" id='head_xtgl'>
            系统管理
        </th>
        <th class="head_font_color" id='head_grzx'>
            个人中心
        </th>
        <th class="head_font_color" id='head_person'>
            <image src="../static/img/person.jpg" id='person_pic'>
                298503
            </image>
        </th>

    </tr>
</table>
</br>

<div class='daohang_div'>
    <ul class="daohang_ul">组织管理</ul>
    <ul class="daohang_ul">奖项信息</ul>
</div>
<!--上右下左-->
<div style="margin: 0% 5% 0 0">
    <p style="color: #4eb3df">
        系统管理>奖项信息
    </p>
    <hr>
    <table  style="float: left ;background-color: #f2f2f2;margin-right: 10%;width: 500px;height: 500px">
        <tr>
            <td >奖项名称</td>
            <td >  蓝鲸产品中心</td>
        </tr>
        <tr>
            <td  style="float: top;text-align: unset">审核条件</td>
            <td ><p>蓝鲸产品中心</p></td>
        </tr>
        <tr>
            <td class="col-0">审核人</td>
            <td class="col-1">生效中</td>
        </tr>
        <tr>
            <td class="col-0">状态</td>
            <td class="col-1">生效中</td>
        </tr>
        <tr>
            <td class="col-0">奖项级别</td>
            <td class="col-1">xxx</td>
        </tr>
        <tr>
            <td class="col-0">所属中心</td>
            <td class="col-1">审核中</td>
        </tr>
        <tr>
            <td class="col-0">开始日期</td>
            <td class="col-1">2019-11-23</td>
        </tr>
        <tr>
            <td class="col-0">结束日期</td>
            <td class="col-1">2019-11-23</td>
        </tr>
    </table>
    <form >
        <table style="float: left ;background-color: #f2f2f2;width: 500px;height: 500px">
            <tr>
                <td style="width: 20%">申报人团队</td>
                <td style="width: 78%"><input type="text" style="width: 88%" name=""></td>
            </tr>
            <tr>
                <td>事迹简介</td>
                <td><textarea name="" style="width: 88%;height: 300px"></textarea></td>
            </tr>
            <tr>
                <td>附件</td>
                <td><input type="file"></td>
            </tr>

            <p  style="position: absolute;bottom: 5px;width: 100%">
                <button type="reset" style="float: right;margin:0 5% 0 1%;border-radius: 7px">取消</button>
                <button type="submit" style="float: right ;background-color: #169bd5;border-radius: 7px   " id="sub">我要申报</button>
            </p>
        </table>

    </form>

</div>
</body>
</html>