<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F007</title>
    <link rel=" stylesheet" href="../static/css/F007.css" type="text/css">
</head>
<body>
<table class='head'>
    <tr>
        <td id='logo'>
        </td>
        </th>
        <th class="head_font_color" id='head_jxsb'>
            奖项申报
        </th>
        <th class="head_font_color" id='head_xtgl'>
            系统管理
        </th>
        <th class="head_font_color" id='head_grzx'>
            个人中心
        </th>
        <th class="head_font_color" id='head_person'>
            <image src="../static/img/person.jpg" id='person_pic'>
                298503
            </image>
        </th>

    </tr>
</table>
</br>

<div class='daohang_div'>
    <ul class="daohang_ul">我的申报</ul>
    <ul class="daohang_ul">我的审核</ul>
</div>
<!--上右下左-->
<div style="margin: 0% 5% 0 0">
    <p style="color: #4eb3df">
        系统管理>我的审核
    </p>
    <hr>
    <br>
    <br>
    <table id="body_table">
        <tr>
            <th>
                所属单位
            </th>

            <th>
                申报奖项
            </th>

            <th>
                申报人团队
            </th>
            <th>
                申报状态
            </th>
            <th>
                申报时间
            </th>
            <th>
                操作人
            </th>
            <th>
                操作
            </th>

        </tr>
        <tr>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>

            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                通过 驳回
            </td>
        </tr>
        <tr class='alt'>

            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                通过 驳回
            </td>
        </tr>
        <tr>

            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                通过 驳回
            </td>
        </tr>
        <tr class='alt'>

            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                通过 驳回
            </td>
        </tr>
        <tr>

            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                通过 驳回
            </td>
        </tr>
    </table>
    <table style="float: right ;margin: 0% 5% 0 0">
        <br>
        <tr>

            <th style="text-align: right;color: #34a9db  ">
                &nbsp&nbsp&nbsp上一页 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </th>
            <th style="text-align: right ;color: #34a9db ;margin: 0% 10% 0 0">
                上一页
            </th>
        </tr>

    </table>
</div>
</body>
</html>