<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F008</title>
    <link rel=" stylesheet" href="../static/css/F008.css" type="text/css">
</head>
<body>
<table class='head'>
    <tr>
        <td id='logo'>
        </td>
        </th>
        <th class="head_font_color" id='head_jxsb'>
            奖项申报
        </th>
        <th class="head_font_color" id='head_xtgl'>
            系统管理
        </th>
        <th class="head_font_color" id='head_grzx'>
            个人中心
        </th>
        <th class="head_font_color" id='head_person'>
            <image src="../static/img/person.jpg" id='person_pic'>
                298503
            </image>
        </th>

    </tr>
</table>



<!--上右下左-->
<div style="margin:2% 22% 0 25%">
    <p>当前可申报奖项</p>
    <hr>
    <table>
        <tr>
            <td  style="padding:20px 35px 0 35px ;">
                <img src="../static/img/kuang.png" style="width: 160px;height: 90px">
            </td>
            <td  style="padding:20px 35px 0 35px ;">
                <img src="../static/img/kuang.png" style="width: 160px;height: 90px">
            </td>
            <td  style="padding:20px 35px 0 35px ;">
                <img src="../static/img/kuang.png" style="width: 160px;height: 90px">
            </td>
        </tr>
        <tr>
            <td  style="padding:10px 35px 0 35px ;text-align: center">
                ******
            </td>
            <td  style="padding:10px 35px 0 35px ;text-align: center">
                ******
            </td>
            <td style="padding:10px 35px 0 35px;text-align: center">
                ******
            </td>
        </tr>
        <tr>
            <td  style="padding:0 35px 0 35px ;text-align: center">
                ******
            </td>
            <td  style="padding:0 35px 0 35px ;text-align: center">
                ******
            </td>
            <td style="padding:0 35px 0 35px;text-align: center">
                ******
            </td>
        </tr>
        <tr>
            <td  style="padding:0 35px 0 35px ;text-align: center">
                ******
            </td>
            <td  style="padding:0 35px 0 35px ;text-align: center">
                ******
            </td>
            <td style="padding:0 35px 0 35px;text-align: center">
                ******
            </td>
        </tr>

    </table>

<br><br>
    <p>
        上次获奖人名单
    </p>
    <hr>
    <br>
    <table id="body_table">
        <tr>
            <th>
                所属单位
            </th>

            <th>
                申报奖项
            </th>
            <th>
                申请时间
            </th>
            <th>
                申报人/团队
            </th>
            <th>
                申报详情
            </th>


        </tr>
        <tr>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                查看
            </td>


        </tr>
        <tr class='alt'>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>

            <td>
                蓝鲸产品中心2ssssssssssss
            </td>
            <td>
                查看
            </td>

        </tr>
        <tr>
            <td>
                蓝鲸产品中心
            </td>

            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                查看
            </td>

        </tr>
        <tr class='alt'>

            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                查看
            </td>
        </tr>
        <tr class=>

            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                蓝鲸产品中心
            </td>
            <td>
                查看
            </td>
        </tr>
    </table>
</div>
</body>
</html>